{% extends "base.html" %}


{% block Content %}
<style>
    .wrap_all{
        background-image: url(https://images.unsplash.com/photo-1456154875099-97a3a56074d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
    }
</style>

<div class="background-div">
 <div class="jumbotron1 d-flex align-items-center" style="height:500px">
     <div class="container  " style="margin-top: 50px;top:50%">
        
     <h1 class="home-header">FIND THE BEST PRICE!</h1>
     <h4 class="home-header">We Scan The Web For The Cheapest Price, Best Coupons & Discounts! </h4>
     <h4 class="home-header">So You Can Order At Lowest Cost! Guaranteed!</h4>

   
     </div>
     
 </div>


 <div class="jumbotron" style="margin-top:-10px;">
    <div class="container">
        <div style="padding-left:15px;padding-right:15px;padding:10px;background-color: white; display: inline-block; border-top-left-radius: 15px;border-top-right-radius: 15px;"> <h5  >Popular Products</h5> </div>
    </div>

 </div>
</div>
 <div class="jumbotron" style="background-color: white; border-radius: 30px;">
    <div class="container" style="padding-bottom: 20px;">
        <div class="row">

        {% for s in stores %}
        
        <div class="col-lg-4">
            <a href="/offers/{{ s['name'] }}">
            <div class="container box-cont" style="">
                <div class="row" >
                    <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                        <img class="align-middle main-pic" src="{{ s['img'] }}" alt=""> 

                    </div>

                    <div class="col-md-8 " style="padding:10px;">
                        <div class="left-bord">
                            <h3>{{ s['name'] }}</h3>

                            <p class="my_text">{{ s["category"] }}</p>

                            <h5 class="my_text coupon-button" style="display: inline-block;padding:5px;">Up to {{ s["discount"] }}% Off</h5>
       
                            <p class="my_text" style="color:blue">{{ s["off_link"] }}</p>

                        </div>
                            
                    
                    </div>

                </div>
            </div>
        </a>
        </div>
    
        {% endfor %}


        </div>

        
        
    </div>

 </div>








{% endblock %}