{% extends "base.html" %}


{% block Content %}




<div class="container"  style="text-align: center;margin:300px;">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}

<form action="" method="POST" style="text-align:left">
  <p>name</p>
  <input type="text" name="user" >
<p>password</p>
  <input type="text" name="password" >
  <input type="submit">
  


</form>
  
</div>

{% endblock %}