{% extends "base.html" %}


{% block Content %}
<div class="container wrap_all" style="margin-top: 6px; padding-bottom:20px;">



    <div class="row">


<!-- main column -->

        <div class="col" >

      <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle main-pic" src="{{ img }}" alt=""> 

                        </div>

                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <h3>{{ name }}</h3>

                                <h5 class="my_text">Find the best {{ name }} coupon code and discounts for {{ time }}. All coupons guaranteed to work. Exclusive offers and bonuses with money back. Get Up to {{ discount }} Off Today!</h5>
           
                                <p class="my_text" style="color:blue">{{ off_link }}</p>

                            </div>
                                
                        
                        </div>

                    </div>
                </div>

        <!-- box-->
                <div class="container box-cont" style="">
                    <div class="d-flex justify-content-between" style="background-color: rgb(255, 245, 160); margin: 0px; border-color: rgb(255, 0, 0);border-style: solid;border-width: 1px;border-radius:7px ;" >
                        <div  class="p-2 d-flex  align-items-center " style="text-align: left;">
                            <div class="d-flex">
                                
                                
                                <div class="col-3 d-flex align-middle" ><img  src="{{url_for('static', filename='scissor.png')}}" style="width: 40px;" alt=""> </div> 

                            </div>
                               

                            
                            

                        </div>

                        <div class="p-2 flex-grow-1 justify-content-center ">
                            <div class="" style="border-bottom-color: rgb(0, 0, 0);border-bottom-style: dashed;border-bottom-width: 2px; height: 57%;" >  </div>

                        </div>
                        
                        <div class="p-2 d-flex justify-content-center align-items-center" style="padding:10px; text-align: right;">
                            
                                <div class="my_text">Active Coupons: [ <span style="color: red;" >5</span> ]</div>
                            

                        </div>
                    </div>
                </div>


            

                <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row coup-row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle coupon-pic" src="{{ img }}" alt=""> 

                        </div>
                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <p style="color: white;background-color: red; display:inline-block; padding:2px;">Cheapest Deal Guarantee!</p>
                                <p style="color:#03989e;font-size: large;margin-top: -3px;margin-bottom: -0.1px;">Hurry! Offer Expires Soon!</p>
                                <h3>{{ name }} Special Offer Coupon – {{ discount }}% Off Your Order</h3>

                                <p class="my_text"><span style="color: blue;">100% SUCCESS</span> | <span>2166 total views, 4 today |</span><span style="color: green;"> 95 <i class="fa fa-thumbs-up"></i></span> <span style="color: red;"> 0 <i class="fa fa-thumbs-down"></i></span> </p>
           
                                <a href="/analyse/{{aff_link}}"><button class="coupon-button">Click Here To See Coupon</button></a> 

                                <h5 style="color:red;margin-top:10px;">Expires in: <span id="counter"> {{ counter }} </span> min <span id="sec_counter">45</span> sec </h5>
                            
                            </div>
                        </div>
                    </div>
                </div>


                <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row coup-row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle coupon-pic" src="{{ img }}" alt=""> 

                        </div>
                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <h3>{{ name }} Coupon Code – Up To {{ discount -11 }}% Off</h3>

                                <p class="my_text"><span style="color: blue;">100% SUCCESS</span> | <span>1262 total views, 4 today |</span><span style="color: green;"> 95 <i class="fa fa-thumbs-up"></i></span> <span style="color: red;"> 0 <i class="fa fa-thumbs-down"></i></span> </p>
           
                                <button class="coupon-button" onclick="location.href ='/analyse/{{aff_link}}'">Click Here To See Coupon</button>
                            
                                <h5 style="margin-top:10px;">Expires in: 4 days </h5>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row coup-row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle coupon-pic" src="{{ img }}" alt=""> 

                        </div>
                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <h3>Extra {{ discount -15 }}% Off For Your Orders</h3>

                                <p class="my_text"><span style="color: blue;">100% SUCCESS</span> | <span>2336 total views, 4 today |</span><span style="color: green;"> 95 <i class="fa fa-thumbs-up"></i></span> <span style="color: red;"> 0 <i class="fa fa-thumbs-down"></i></span> </p>
           
                                <button class="coupon-button" onclick="location.href ='/analyse/{{aff_link}}'">Click Here To See Coupon</button>
                                <h5 style="margin-top:10px;">Expires in: Unknown </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row coup-row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle coupon-pic" src="{{ img }}" alt=""> 

                        </div>
                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <h3>{{ discount -17 }}% Off Your Order – Limited Time Special Offer!</h3>

                                <p class="my_text"><span style="color: blue;">100% SUCCESS</span> | <span>1163 total views, 4 today |</span><span style="color: green;"> 95 <i class="fa fa-thumbs-up"></i></span> <span style="color: red;"> 0 <i class="fa fa-thumbs-down"></i></span> </p>
           
                                <button class="coupon-button" onclick="location.href ='/analyse/{{aff_link}}'">Click Here To See Coupon</button>
                                <h5 style="margin-top:10px;">Expires in: Unknown </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box-->
                <div class="container box-cont" style="">
                    <div class="row coup-row" >
                        <div  class="col-md-4 d-flex justify-content-center align-items-center " >
                            <img class="align-middle coupon-pic" src="{{ img }}" alt=""> 

                        </div>
                        <div class="col-md-8 " style="padding:10px;">
                            <div class="left-bord">
                                <h3>Extra {{ discount -25 }}%- {{ name }}</h3>

                                <p class="my_text"><span style="color: blue;">100% SUCCESS</span> | <span>136 total views, 4 today |</span><span style="color: green;"> 95 <i class="fa fa-thumbs-up"></i></span> <span style="color: red;"> 0 <i class="fa fa-thumbs-down"></i></span> </p>
           
                                <button class="coupon-button" onclick="location.href ='/analyse/{{aff_link}}'">Click Here To See Coupon</button>
                                <h5 style="margin-top:10px;">Expires in: 20 days </h5>
                            </div>
                        </div>
                    </div>
                </div>





        </div>


<!--end main column -->

<!-- side bar -->



        <div class="col-lg-4" >


            <div class="container box-cont" style=""> 
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center" style="">
                        <img src="{{url_for('static', filename='guarantee.png')}}" style="height:140px" alt="">

                    </div>
                    <div class="col-12" style="text-align: center ;">
                        <h2  class="bot-bord">Best Price Guarantee</h2>
                        <h5 class="my_text">We Scan The Web For The Cheapest Price, Best Coupons & Discounts!<br>
                        So You Can Order At Lowest Cost Possible! Guaranteed!</h5>
                        <img src="{{url_for('static', filename='trustlock-trust-badge-example.png')}}" style="height:25px;margin-left: 7px;margin-top: -5px;" alt="">

                    </div>
                </div>        
            </div>

        
        

        <div class="container box-cont" style="text-align: left;"> 
            <div class="row">
                <div class="col-12 d-flex "  style="text-align: left;">
                    <h2 class="bot-bord">Popular Stores</h2>

                </div>
                <div class="col-12"  style="text-align: left;">
                    {% for names in stores %}
                    <a href="/offers/{{ names }}">
                     <h5 class="store">{{ names }}</h5>
                    </a>
                    {% endfor %}
                    

                </div>
            </div>        
        </div>
    </div>
</div>
        

         

    </div>





<script>

    counter = document.getElementById("counter")
    sec_counter = document.getElementById("sec_counter")
    start = parseInt(counter.innerHTML) 
    jCount = 55;

    function secondCount(){
        sec_counter.innerHTML = jCount
        jCount--
        if (jCount == 0){
            start--
            counter.innerHTML = start
            jCount = 59
        }

    }

    
    setInterval(secondCount,1000)



</script>
    

</div>

<!-- end side bar -->

{% endblock %}