<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome-all.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome5-overrides.min.css')}}">
    <title>{{Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    
    <style>
        #maincont {
          text-align: center;
          margin-top: 100px;
          padding: 20px;
        }
  
        #myProgress {
          width: 100%;
          background-color: rgb(184, 184, 184);
          border-radius: 15px;
        }
  
        #myBar {
          width: 3%;
          height: 30px;
          background-color: rgb(255, 8, 0);
          border-radius: 15px;
        }
        #check-2{
          display : none;
        }
        #check-3{
          display : none;
        }
        #check-4{
          display : none;
        }
        #check-5{
          display : none;
        }
        #check-6{
          display : none;
        }
        #check-7{
          display : none;
        }
  
        #check-8{
          display : none;
        }
  
  
  
        #check-1{
          display : block;
        }
  
      </style>  




<body>
    





    <div  class="container" id="maincont">

        <div id="check-1" class="col">
            <h3>Checking If Discount Is Still Availbale...</h3>

            </div>



        <div id="check-2" class="col">
            <img style="width: 50px;margin-bottom: 10px; " src="{{url_for('static', filename='check-mark-button-clip-art-green-checkmark-2a75b94ed6d066ea1bcef194a3e98f8c.png')}}" alt="">
        <h3 id="conf-1">Discount Is Availbale!</h3>
    </div>



    <div id="check-3" class="col">
        <h3>Checking Cheapest Price Is Selected...</h3>

        </div>



    <div id="check-4" class="col">
        <img style="width: 50px;margin-bottom: 10px; " src="{{url_for('static', filename='check-mark-button-clip-art-green-checkmark-2a75b94ed6d066ea1bcef194a3e98f8c.png')}}" alt="">
    <h3 id="conf-1">Cheapest Price Selected!</h3>

</div>


        <div id="check-5" class="col">
            <h3>Applying Your Discount...</h3>

            </div>



        <div id="check-6" class="col">
            <img style="width: 50px;margin-bottom: 10px; " src="{{url_for('static', filename='check-mark-button-clip-art-green-checkmark-2a75b94ed6d066ea1bcef194a3e98f8c.png')}}" alt="">
        <h3 id="conf-1">Discount Applied!</h3>
        
        <h4 id="conf-1"> <strong>WARNING:</strong> Most Companys Allow Every Person To Only Apply One Coupon Code! Please Don't Close This Page, So Your Coupon Won't Expire</h4>
        <h4 id="conf-1"> Press The Continue Botton To Order At Lowest Cost!</h4>
        <a href="{{ url }}"> <button style="color:white;background-color: red;font-size: 26px;margin-top: 10px;border-radius: 10px;">Continue</button></a>

    </div>





    <div id="myProgress">
        <div id="myBar"></div>
    </div>
            
        </div>


    <a id="link" href="{{ url }}">
        
    
    </a>


   
    <script src="assets/js/jquery.min.js"></script>
   
    <script>



        var progressBar = document.getElementById("myProgress")
        var i = 0; 
        move() 
        function move() {
              
        if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 40);
            function frame() {
            if (width >= 100) {
                
                i = 0;
                clearInterval(id);
                nextSlide()
            } else {
                width++;
                elem.style.width = width + "%";
            }
            }
        }
        } 

        slides = []
        var t = 0
        slides[0] = document.getElementById("check-1")
        slides[1] = document.getElementById("check-2")
        slides[2] = document.getElementById("check-3")
        slides[3] = document.getElementById("check-4")
        slides[4] = document.getElementById("check-5")
        slides[5] = document.getElementById("check-6")
        slides[7] = document.getElementById("check-7")
        slides[8] = document.getElementById("check-8")

        function nextSlide(){
            
                
            if (t < 5){
            $(slides[t]).css("display","none")           
            t++; 
            $(slides[t]).css("display","block")
            console.log(slides[t])
            

            if (t%2 == 0){
                console.log("gerade")
                $("#myProgress").css("display","block")
                                 
                move();
            }else{
                console.log("ungerade")
                $("#myProgress").css("display","none")
                     
                setTimeout(nextSlide,1000)}




            }else{

                throw new Error('This is not an error. This is just to abort javascript');
                
            }

           
            }
            
        
        





     </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  
</body>
